@charset "UTF-8";

:root {
	--brown: rgba(18, 0, 0, 1.0);
	--brown-bg: rgba(18, 0, 0, 0.80);
	--brown-selected: rgba(68, 28, 28, 1.0);
	--grey-bg: rgba(128, 128, 128, 0.20);
	--header-h: 200px;
	--footer-h: 48px;
	--vinegreen: rgba(32, 181, 22);
	--vinegreen-dark: rgba(22, 152, 12);
	--grey: rgba(128, 128, 128, 0.80);
}

html, body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 auto;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

hr {
	color: var(--brown);
	width: 95%;
	margin: 0;
	padding: 0;
	align-self: center;
}

.b {
	font-weight: bold;
}

.header {
	width: 100%;
	height: var(--header-h);
	background-color: var(--brown);
	background-image: url('../img/wine-bg.jpg');
	background-size: 100% auto;
	background-position: center center;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.header nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	background-color: var(--brown-bg);
}

.header nav a {
	flex-shrink: 0;
	flex-grow: 0;
	height: auto;
	margin: 0px 15px;
	font-size: 1.2em;
}

.header nav a > p {
	padding: 0px 10px;
}

.main {
	display: flex;
	flex-direction: row;
	align-content: stretch;
	min-height: calc(100vh - var(--header-h) - var(--footer-h));
}

.sidebar-left, .sidebar-right {
	width: 10%;
	background-color: var(--grey-bg);
}

.sidebar-right {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.content, #eshop-items {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	width: 100%;
	height: var(--footer-h);
	background-color: var(--brown);
	margin-top: auto;
	font-size: 0.70em;
	text-align: center;
}

.footer > p {
	margin-bottom: 3px;
}

a:link {
	color: inherit;
}

a:visited {
	color: inherit;
}

a:hover {
	color: inherit;
}

a:active {
	color: inherit;
}

.nolink {
	text-decoration: none;
}

.hardlight {
	text-shadow: 0px 0px 5px black;
	mix-blend-mode: unset;
}

#logo {
	color: white;
	font-size: 2em;
	padding: 20px;
}

.header #logo {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
}

.white {
	color: white;
}

.green {
	color: green;
}

.red {
	color: red;
}

.nav-fill {
	display: flex;
	justify-content: center;
	width: 10%;
}

.nav-fill > a {
	width: 100%;
}

.sub-nav {
	display: flex;
	flex-direction: row;
	width: 80%;
	justify-content: space-around;
	align-items: flex-end;
}

.sub-nav > a, .nav-fill > a {
	min-width: 10%;
	text-align: center;
	transition: 0.3s;
}

.sub-nav > a:hover, .nav-fill > a:hover {
	background-color: var(--brown-selected);
	transition: 0.3s;
}

.filters {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.page-title {
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	display: flex;
	align-items: baseline;
}

.page-title button {
	margin-right: 20px;
	color: var(--brown);
	font-weight: bold;
	font-size: 1em;
	padding: 0;
	border: none;
	background-color: white;
}

.page-title button:hover {
	color: white;
}

.page-sub-title {
	align-self: flex-end;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	width: 100%;
}

.tags li {
	color: white;
	background-color: var(--brown);
	padding: 2px 8px 2px 5px;
	margin: 5px 5px;
	clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
	cursor: pointer;
	border: 0px solid var(--brown);
	border-radius: 3px;
}

.tags li:hover {
	background-color: var(--brown-selected);
}

.tags li[data-selected='1'] {
	padding: 0px 8px 0px 3px;
	background-color: var(--vinegreen-dark);
	border: 2px solid var(--brown);
	border-right: none;
}

.tag-bullet {
	float: right;
	padding-right: 6px;
	margin-left: 12px;
}

.items {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	width: 95%;
	align-self: center;
}

button, input[type="submit"] {
	/* https://www.w3schools.com/css/css3_buttons.asp */
	background-color: var(--brown);
	border: none;
	color: white;
	padding: 8px 15px;
	text-align: center;
	transition: 0.3s;
}

button:hover, input[type="submit"]:hover {
	background-color: var(--brown-selected);
	transition: 0.3s;
}

.input {
	border: 2px solid var(--brown);
	border-radius: 2px;
	box-sizing: content-box;
}

.input-number {

}

.input-select {

}

.input-radio {

}

.error {
	width: 100%;
	text-align: center;
	color: red;
}

.labeled-input {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	font-size: 1.2em;
}

.labeled-input label {
	width: 20%;
}

.labeled-input .input {
	width: 60%;
	margin-left: 10px;
	/*font-size: 1em;*/
}

.button-align {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.login, .register {
	width: 50%;
}

.login > form, .register > form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 100%;
}

.logout > p {
	padding-left: 10%;
}

.logout {
	display: block;
	margin: 0;
	padding: 1px;
	background-color: rgba(225, 225, 225, 0.35);
	width: 100%;
	box-sizing: border-box;
	border: 2px solid red;
}

.logout:hover {
	background-color: lightgrey;
}

.logout-button {
	display: none;
	width: 100px;
	margin: 0 auto;
}

.nav-buttons {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px 0 20px 0;
}

.nav-buttons > button {
	width: 12%;
}

/* Něco se pokazilo s flexboxem (Firefox) obalením do divu a překreslením se problém řeší */
.correction {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.ghost {
	opacity: 0.60;
}

@media only screen and (max-width: 768px) {
	.sidebar-right, .sidebar-left {
		display: none;
	}

	.content {
		width: 100%;
	}

	#logo {
		padding: 30px 0 0 0;
		width: 100% !important;
		text-align: center;
	}

	.nav-fill {
		width: auto;
	}

	.logout-button {
		display: block;
	}

	.tags {
		font-size: 1.2em;
	}
}

@media only print {
	.header, .footer, .filters {
		display: none;
	}

	.sidebar-right, .sidebar-left {
		display: none;
	}

	.content {
		width: 100%;
	}
	
	p {
		text-align: justify;
	}
	
}